<center><h1> Healthy Life Style </h1></center>
<hr>
<p>A healthy lifestyle can help you thrive as you move through your life's journey. Making healthy choices isn't always easy – it can be hard to find the time and energy to exercise regularly or prepare healthy meals. However, your efforts will pay off in many ways, and for the rest of your life.</p><center><h1> Healthy Life Style </h1></center>

<p>Be physically active for 30 minutes most days of the week. Break this up into three 10-minute sessions when pressed for time. Healthy movement may include walking, sports, dancing, yoga or running.</p>
<hr>